<!DOCTYPE hibernate-configuration SYSTEM
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Settings for a local HSQL (testing) database. -->
		<property name="dialect"> org.hibernate.dialect.H2Dialect</property>
		<property name="connection.driver_class">org.h2.Driver</property>
		<property name="connection.url">jdbc:h2:mem:h2_annotated</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>

		<!-- Disable second-level cache. -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="cache.use_query_cache">false</property>
		<property name="cache.use_minimal_puts">false</property>
		<property name="max_fetch_depth">3</property>
		<property name="jdbc.batch_size">0</property>

		<!-- No auto-commit -->
		<property name="connection.autocommit">false</property>

		<!-- Print SQL to stdout. -->
		<property name="show_sql">false</property>

		<!-- Drop and then re-create schema on SessionFactory build, for testing. -->
		<property name="hbm2ddl.auto">create-drop</property>

		<!-- Bind the getCurrentSession() method to the thread. -->
		<property name="current_session_context_class">thread</property>

		<!-- Hibernate Annotations (and package-info.java) -->
		<mapping class="net.sf.gilead.test.domain.annotated.User" />
		<mapping class="net.sf.gilead.test.domain.annotated.Employee" />
		<mapping class="net.sf.gilead.test.domain.annotated.Group" />
		<mapping class="net.sf.gilead.test.domain.annotated.Address" />
		<mapping class="net.sf.gilead.test.domain.annotated.Message" />
	</session-factory>
</hibernate-configuration>